<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>AccessRecord database</title>
	<link rel="stylesheet" type="text/css" href="{%static "css/h1.css"%}">
</head>
<body>
	<h1>Hi Welcome to Django level two </h1>
	<h2>Here are your Access Records: </h2>
	<div>
		{% if access_records %}
			<table>
				<thead>
					<th>Site Name</th>
					<th>Date Accessed</th>
				</thead>
				{% for acc in access_records %}
				<tr>
					<td>{{ acc.name }}</td>
					<td>{{ acc.date }}</td>
				</tr>
				{% endfor %}
			</table>
		{% else %}
			<p>NO ACCESS RECODRS FOUND! </p>
		{% endif %}
	</div>
</body>
</html>